<section class="header pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-7 d-flex">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="avatar">
                            <a [routerLink]="['']">
                                <img src="./assets/image/Manga.jpeg" alt="Avatar">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="d-flex align-items-center">
                            <a [routerLink]="['']">
                                <div class="ten-trang-web nun-nhay">Phê Truyện</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sign col-md-5 d-flex flex-column align-items-center">
                <div class="row">
                    <div class="sign col">
                        <button type="button" class="btn btn-outline-primary">
                            <a [routerLink]="['DangNhap']">Login</a>
                        </button>
                    </div>

                    <div class="sign col">
                        <button type="button" class="btn btn-outline-primary">
                            <a [routerLink]="['DangKi']">Sign up</a>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="Menu mt-5" style="background-color: #e9e9e9; height: 60px;">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false" [routerLink]="['']">
                                    <!-- Ẩn mũi tên mặc định bằng cách sử dụng CSS -->
                                    <span class="dropdown-toggle-icon"></span>
                                    <i class="fas fa-home" style="color: #cd1818;"></i>
                                    Home
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>
<header>
    <h1>Chính Sách</h1>
</header>
<main>
    <section class="policy">
        <h2>Chính Sách Bảo Mật</h2>
        <p>
            Chúng tôi cam kết bảo vệ thông tin cá nhân của bạn và sử dụng chúng một cách cẩn thận. Đọc chính sách bảo
            mật của chúng tôi để biết thêm chi tiết.
        </p>
    </section>
    <section class="policy">
        <h2>Điều Khoản Sử Dụng</h2>
        <p>
            Sử dụng trang web của chúng tôi đồng nghĩa với việc bạn đồng ý tuân theo các điều khoản sử dụng được đề ra.
            Đọc điều khoản sử dụng để hiểu rõ hơn.
        </p>
    </section>
</main>
<footer>
    <p>&copy; 2023 Phê Truyện</p>
</footer>