<section class="header pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-7 d-flex">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="avatar">
                            <a [routerLink]="['']">
                                <img src="./assets/image/Manga.jpeg" alt="Avatar">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="d-flex align-items-center">
                            <a [routerLink]="['']">
                                <div class="ten-trang-web nun-nhay">Phê Truyện</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sign col-md-5 d-flex flex-column align-items-center">
                <div class="row">
                    <div class="sign col">
                        <button type="button" class="btn btn-outline-primary">
                            <a [routerLink]="['DangNhap']">Login</a>
                        </button>
                    </div>

                    <div class="sign col">
                        <button type="button" class="btn btn-outline-primary">
                            <a [routerLink]="['DangKi']">Sign up</a>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="Menu mt-5" style="background-color: #e9e9e9; height: 60px;">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">

                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <li class="nav-item dropdown">

                                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false" [routerLink]="['']">
                                    <!-- Ẩn mũi tên mặc định bằng cách sử dụng CSS -->
                                    <span class="dropdown-toggle-icon"></span>
                                    <i class="fas fa-undo-alt fa-spin"></i>
                                    Return
                                </a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false" [routerLink]="['']">
                                    <!-- Ẩn mũi tên mặc định bằng cách sử dụng CSS -->
                                    <span class="dropdown-toggle-icon"></span>
                                    <i class="fas fa-home"></i>
                                    Home
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>

<section class="product Noi Bat">
    <div class="container mt-3">
        <h3 class="highlight-text m-3">Phiêu Lưu <i class="fas fa-flag fa-spin fa-lg"></i> </h3>
        <div class="row">
            <div class="col-md-2">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Truyện tranh image -->
                        <img class="card-img-top" src="./assets/image/dragonball.jpeg" style="height: 450px;"
                            alt="Truyện tranh" />
                        <!-- Truyện tranh details -->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Tên truyện -->
                                <h5 class="fw-bolder">DraGon Ball </h5>
                                <!-- Số lượt xem và đánh giá -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="small text-secondary"><i class="far fa-eye fa-spin"
                                                style="color: #222092;"></i> 500</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="small text-secondary"><i class="fas fa-thumbs-up fa-spin"
                                                style="color: #2114e1;"></i> 500</p>
                                    </div>
                                    <div class="col-md-4">
                                        <i class="fas fa-bookmark" style="color: #e4dd0c;"></i>
                                    </div>

                                </div>
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                </div>
                            </div>
                        </div>
                        <!-- Truyện tranh actions -->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Xem</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Truyện tranh image -->
                        <img class="card-img-top" src="./assets/image/OnePiece.jpeg" style="height: 450px;"
                            alt="Truyện tranh" />
                        <!-- Truyện tranh details -->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Tên truyện -->
                                <h5 class="fw-bolder">One Piece</h5>
                                <!-- Số lượt xem và đánh giá -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="small text-secondary"><i class="far fa-eye fa-spin"
                                                style="color: #222092;"></i> 500</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="small text-secondary"><i class="fas fa-thumbs-up fa-spin"
                                                style="color: #2114e1;"></i> 500</p>
                                    </div>
                                    <div class="col-md-4">
                                        <i class="fas fa-bookmark" style="color: #e4dd0c;"></i>
                                    </div>

                                </div>
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                </div>
                            </div>
                        </div>
                        <!-- Truyện tranh actions -->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Xem</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Truyện tranh image -->
                        <img class="card-img-top" src="./assets/image/Bleach.jpeg" alt="Truyện tranh" />
                        <!-- Truyện tranh details -->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Tên truyện -->
                                <h5 class="fw-bolder">Bleach</h5>
                                <!-- Số lượt xem và đánh giá -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="small text-secondary"><i class="far fa-eye fa-spin"
                                                style="color: #222092;"></i> 500</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="small text-secondary"><i class="fas fa-thumbs-up fa-spin"
                                                style="color: #2114e1;"></i> 500</p>
                                    </div>
                                    <div class="col-md-4">
                                        <i class="fas fa-bookmark" style="color: #e4dd0c;"></i>
                                    </div>

                                </div>
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                </div>
                            </div>
                        </div>
                        <!-- Truyện tranh actions -->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Xem</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Truyện tranh image -->
                        <img class="card-img-top" src="./assets/image/naruto.jpeg" alt="Truyện tranh" />
                        <!-- Truyện tranh details -->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Tên truyện -->
                                <a [routerLink]="['/info-truyen']">
                                    <h5 class="fw-bolder">Naruto</h5>
                                </a>
                                <!-- Số lượt xem và đánh giá -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="small text-secondary"><i class="far fa-eye fa-spin"
                                                style="color: #222092;"></i> 500</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="small text-secondary"><i class="fas fa-thumbs-up fa-spin"
                                                style="color: #2114e1;"></i> 500</p>
                                    </div>
                                    <div class="col-md-4">
                                        <i class="fas fa-bookmark" style="color: #e4dd0c;"></i>
                                    </div>

                                </div>
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <span class="star" style="color:black;">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>

                                </div>
                            </div>
                        </div>
                        <!-- Truyện tranh actions -->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" [routerLink]="['/info-truyen']">Xem</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Truyện tranh image -->
                        <img class="card-img-top" src="./assets/image/kimetsu.jpeg" alt="Truyện tranh" />
                        <!-- Truyện tranh details -->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Tên truyện -->
                                <h5 class="fw-bolder">Kimetsu No YaiBa</h5>
                                <!-- Số lượt xem và đánh giá -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="small text-secondary"><i class="far fa-eye fa-spin"
                                                style="color: #222092;"></i> 500</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="small text-secondary"><i class="fas fa-thumbs-up fa-spin"
                                                style="color: #2114e1;"></i> 500</p>
                                    </div>
                                    <div class="col-md-4">
                                        <i class="fas fa-bookmark" style="color: #e4dd0c;"></i>
                                    </div>

                                </div>
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                </div>
                            </div>
                        </div>
                        <!-- Truyện tranh actions -->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Xem</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Truyện tranh image -->
                        <img class="card-img-top" src="./assets/image/GK no PCL.jpeg" alt="Truyện tranh" />
                        <!-- Truyện tranh details -->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Tên truyện -->
                                <h5 class="fw-bolder">Goku No Picolo</h5>
                                <!-- Số lượt xem và đánh giá -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="small text-secondary"><i class="far fa-eye fa-spin"
                                                style="color: #222092;"></i> 500</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="small text-secondary"><i class="fas fa-thumbs-up fa-spin"
                                                style="color: #2114e1;"></i> 500</p>
                                    </div>
                                    <div class="col-md-4">
                                        <i class="fas fa-bookmark" style="color: #e4dd0c;"></i>
                                    </div>

                                </div>
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                </div>
                            </div>
                        </div>
                        <!-- Truyện tranh actions -->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Xem</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>