<section class="Menu mt-5" style="background-color: #e9e9e9; height: 60px;">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false" [routerLink]="['']">
                                    <!-- Ẩn mũi tên mặc định bằng cách sử dụng CSS -->
                                    <span class="dropdown-toggle-icon"></span>
                                    <i class="fas fa-home" style="color: #cd1818;"></i>
                                    Home
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>


<form action="" method="POST" class="mt-3">
    <label for="hoTen">Họ Tên:</label>
    <input type="text" id="hoTen" name="hoTen" required>

    <label for="DiaChi">Địa chỉ</label>
    <input type="text" id="DiaChi" name="DiaChi" required>


    <label for="namSinh">Năm Sinh:</label>
    <input type="date" id="namSinh" name="namSinh" required>

    <label for="gmail">Gmail:</label>
    <input type="email" id="gmail" name="gmail" required>

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>

    <div class="row" style:align-items-center>
        <div class="col-md-2"><input type="radio" id="agreeTerms" name="agreeTerms" required></div>
        <div class="col-md-10"><label for="agreeTerms"><a [routerLink]="['/ChinhSach']">Tôi đã đọc và đồng ý với điều
                    khoản sử dụng<i class="fas fa-users"></i></a></label>
        </div>
    </div>



    <button type="submit">Đăng Ký</button>
</form>